#correct{
    background-color: green;
    color: white;
}

#wrong{
    background-color: red;
    color: white;
}

.mainApp .container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quiz-state{
    border: 1px solid cornflowerblue;
    padding: 10px;
    margin-bottom: 20px;
}

.lives{
    font-size: 20px;
    font-weight: 700;
}

.score{
    font-size: 20px;
}

.question{
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.options{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.option{
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-weight: 700;
    width: 300px;
}

.option:hover{
    background-color: cornflowerblue;
    color: #fff;
}

.option:active{
    transform: scale(0.9);
}

.result{
    border-bottom: 5px solid black;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.result span{
    font-weight: 700;
}

.button button{
    border: 1px solid black;
    border-radius: 12px;
    font-weight: 700;
    transition: 0.3s;
    padding: 10px 20px;
}

.button button:hover{
    background-color: #000;
    color: #fff;
}

.button button:active{
    transform: scale(0.9);
}

.final-score{
    border: 1px solid black;
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
}

.highest-score{
    margin-bottom: 20px;
}